{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "security/detect-object-injection": 0,
    "no-unused-expressions": 0
  },
  "extends": [
    "emarsys"
  ]
}
